body {
  display: flex;
}

all-articles {
  display: flex;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

li {
  list-style-type: none;
  background-color: grey;
  width: 600px;
}

li img {
  width: 300px;
}
