body {
  display: flex;
}

all-articles {
  display: flex;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

li {
  list-style-type: none;
  background-color: grey;
  width: 600px;
}

li img {
  width: 300px;
}

#comments-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#votes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.vote-button {
  background-color: #242424;
}
