body {
  display: flex;
}

all-articles {
  display: flex;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

li {
  list-style-type: none;
  background-color: grey;
  width: 600px;
}

li img {
  width: 300px;
}

#comments-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#votes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.vote-button {
  background-color: #242424;
}

@media screen and (max-width: 800px) {
  #post-button {
    margin-left: 10%;
    margin-right: auto;
    display: block;

    text-align: center;
  }
}

#post-button {
  margin-right: 33%;
}

#comment-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 28%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

#username {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 20px;
}

textarea {
  width: 500px;
  height: 50px;
}

#submit-comment {
  margin-top: 10px;
  width: 100px;
}
